<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" [routerLink]="['home']">Tomato</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="sticky-footer" class=" text-white">
  <div class="container text-center">
    <small
      >Made with ❤️ by
      <a href="https://github.com/getbubun" target="_blank">
        <i>Manab Das</i>
      </a></small
    >
  </div>
</footer>
